__pycache__/
*.py[cod]
*$py.class

.DS_Store

.env
.env.local
.venv/
venv/
env/

*.egg-info/
build/
dist/

.idea/
.vscode/
*.swp
# logs
src/help_e/logs/
src/help_e/transcripts/

# python
__pycache__/
*.pyc

# env
.venv/